@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

{
    outline: 1px dotted line;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



html {
  scroll-behavior: smooth;
}




body {
    background-image: url('img/background.jpg');
    margin: 0;
    max-width:100%;
    
    
}

.header{
    background-color: #F4AFA6;
    color: white;
    height: 90px;
    color: white;
    border-bottom: 6px solid #4B4E61;
    position: fixed;
    width: 100%;
}

.header2{
    background-color: #F4AFA6;
    color: white;
    height: 90px;
    color: white;
    border-bottom: 6px solid #4B4E61;
    position: fixed;
    width: 100%;
}


.nav{
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow:hidden;
    background-color: #F4AFA6;
    max-width: 100%;
    
}

#container{
    display:block;
    width: 1300px;
    max-width: 100%;
    margin:auto;
    
}



.logo {
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #4B4E61;
}

.links a {
    color: white; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration: none;
}

.salmon {
    color: #F16C65;
}



/**HOME**/
.banner {
    padding: 0;
    width: auto;
}

.banner img {
    max-height: 100%;
    max-width: 100%;

}




h1 {
    text-align:center;
    font-family: 'Amatic SC', cursive;
    color: white;
    background-color: #F4AFA6;
    font-size:2.6rem;
    text-decoration: underline bold;
    grid-column: 
}

/**PORTFOLIO**/
#portfolio{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
  
}


#photography{
    display:grid;
    max-width: 100%;
    background-color: #F4AFA6;
    grid-column:1/2;
    height: auto;
    
}
    

.center {
    margin-top:60px;
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.center2 {
    margin-top:30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}


#painting{
    display:grid;
    background-color: #F4AFA6;
    grid-column: 2;
    max-width:100%;
    height:auto;
}



/**ABOUT ME **/
#about {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    background-color:#F4AFA6;
    font-family: 'Indie Flower', cursive;
    
}




#profile{
    display:grid;
    max-width: 100%;
    background-color: #F4AFA6;
    grid-column:1/2;
    height: auto;
    
}




#contact {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: auto;
    background-color:#F4AFA6;
    height: auto;
    align-content:center;
    
}



#form{
    display:block;
    background-color: #F4AFA6;
    max-width:100%;
    height:auto;
    align-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}


#social{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
}

logo1{
    display:grid;
    max-width: 100%;
    background-color: #F4AFA6;
    grid-column:1/2;
    height: auto;
    
}
    
    















#header1{
    text-align:center;
    font-family: 'Amatic SC', cursive;
    color: white;
    background-color: #F4AFA6;
    font-size:2.6rem;
    text-decoration: underline bold;
    grid-column: 1/4;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Indie Flower', cursive;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        font-family: 'Indie Flower', cursive;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: green;
}



footer{
    text-align: center;
}




/**PHOTOGRAPHY.HTML**/


#gallery{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    
}

















